@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.cardCont {
  max-width: 250px;
  min-width: 250px;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  margin: 20px;
  box-shadow: 0px -3px 10px 1px #0000001f;
  animation: popIn 1.5s ease forwards;
  transition: scale 0.2s ease;
}
.cardCont:hover {
  scale: 1.03;
}
.name {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin: 0 5px;
  margin-top: 10px;
}
.rating {
  margin: 0 5px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.description {
  font-size: 15px;
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.663);
}
.price {
  font-size: 15px;
  margin: 5px;
}
.price::after {
  content: " night";
  font-weight: 100;
}
.nextImg {
  background: none;
  opacity: 0.75;
  margin-top: 110px;
  display: flex;
  width: inherit;
  justify-content: space-between;
}
.nextImg button {
  background: none;
}
