.cardCont {
  max-width: 250px;
  min-width: 250px;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.nextImg {
  background: none;
  opacity: 0.75;
  margin-top: 110px;
  display: flex;
  width: inherit;
  justify-content: space-between;
}
.nextImg button {
  background: none;
}
