.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  left: 0;
  align-items: center;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.071);
}
